body {
    margin: 0;
    background-color: #000;
    font-family: 'Arial', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: #111
    color: white;
    border-bottom: 1px solid #333
}

.logo {
    font-weight: bold;
    letter-spacing: 2px;
}

.links, .social {
    display: flex;
    gap: 30px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: opacity 0.3s;
}

.navbar a:hover {
    opacity: 0.6;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: all 0.3s ease; /* Transición suave */
}

/ CURSOR /
.navbar a:hover {
    transform: scale(1.2); /* Se agranda un 20% */
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.8)); /* Efecto de destello */
}

.navbar a.active {
    color: gray !important;
}
